<table style='width: 50%;'>
    <tr ng-if="selectedProgramStage.preGenerateUID">
        <td>
            {{'event_uid'| translate}}
        </td>
        <td>
            <input type="text" ng-disabled="true" ng-model="currentEvent['uid']" class="form-control">
        </td>
    </tr>
    <tr ng-if="!customForm.hasEventDate">
        <td>
            {{selectedProgramStage.executionDateLabel ? selectedProgramStage.executionDateLabel : 'incident_date'| translate }}<span class="required">*</span>
        </td>
        <td>
            <input type="text"
                    ng-attr-placeholder="{{dhis2CalendarFormat.keyDateFormat}}"
                    d2-date
                    max-date='model.maxDate'
                    min-date='model.minDate'
                    ng-model="currentEvent.eventDate"
                    ng-required="true"                     
                    d2-date-validator
                    name="eventDate" 
                    input-field-id='eventDate'
                    class="form-control"
                    ng-change="verifyExpiryDate()"
                    ng-disabled="model.editingDisabled">
            <div ng-messages="outerForm.eventDate.$error" ng-if="interacted(outerForm.eventDate)" class="required" ng-messages-include="../dhis-web-commons/angular-forms/error-messages.html">
            </div>
        </td>
    </tr>
    <tr ng-if="selectedProgramStage.featureType && selectedProgramStage.featureType !== 'NONE'">
        <td>
            {{'geometry' | translate}}
        </td>
        <td>
            <d2-geometry
                d2-object-id="geometry"
                d2-object="currentEvent"
                d2-disabled="model.editingDisabled || !hasDataWrite()"
                d2-geometry-type="selectedProgramStage.featureType"
                >
            </d2-geometry>
        </td>            
    </tr>    
</table>
<div ng-include="'../dhis-web-commons/angular-forms/custom-dataentry-form.html'" ng-if="currentEvent.eventDate"></div>