<div class="row col-sm-6">
    <div class="vertical-spacing section-label">
        {{'status' | translate}}
    </div>
    <table class="dhis2-list-table-striped small-vertical-spacing status-table">
        <tbody>
            <tr>
                <td>
                    {{'event_completed'| translate}}
                </td>
                <td>
                    <input type="checkbox" ng-model="currentEvent.status" ng-disabled="model.editingDisabled"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>