<div class="row col-sm-6">
    <div class="vertical-spacing section-label">
        {{'status' | translate}}
    </div>
    <table class="dhis2-list-table-striped small-vertical-spacing status-table">
        <tbody>
            <tr>
                <td>
                    {{'event_completed'| translate}}
                </td>
                <td>
                    <input type="checkbox" ng-model="currentEvent.status" ng-disabled="model.editingDisabled || !hasDataWrite() || !notExpiredOrCanEdit()"/>                    
                </td>
            </tr>
            <tr ng-if="currentEvent.status && !hasDataWrite()">
                <td class="alert alert-info" colspan="2">                    
                    {{'not_authorized_to_uncomplete_event' | translate}}                    
                </td>
            </tr>
        </tbody>
    </table>
</div>